
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.title{
    font-size: 2vw;
    padding-top: 1.8vw;
    padding-bottom: 0.5vw;
    font-family: 'Lato', sans-serif;
    color: black;
    text-align: center;
    background-color: #f0f7ff;
    font-weight: 550;
}

.top{
    background-color: #f0f7ff;
}