button{
    margin-top: 0.5vw;
}

.RegForm{
    font-size: 1.2vw;
}

.container2{
    height: 100vw;
}

.Form{
    height: 100vh;
    width: 100%;
    display: table;
    align-content: center;
.formulario_registrar{
    width: 100%;
    padding: 0.2%, 0.2%;
    margin: auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.campos_registro{
    width: 50%;
    align-self: auto;
    margin: auto;
    text-align: left;