@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

.Welcome{
    background-color: #3f5268;
}

.saudacao{
    padding-top: 2.4vw;
    padding-bottom: 0.5vw;
    font-family: 'Bitter', serif;
    color: #f0f7ff;
    font-size: 1.4vw;
}