.UpdateViagem{
    background-color: #3f5268;
    font-size: 1.2vw;
    color: #f0f7ff;
    padding-top: 2.5vw;
}

.CreateViagem{
    background-color: #3f5268;
    font-size: 1.2vw;
    color: #f0f7ff;
    padding-top: 2.5vw;
}
button{
    padding: 0.2%;
}
#registrar_viagem{
    cursor: pointer;
    padding: 7px;
    margin-right: 8px;
    width: auto;
}