@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

.RegSaudacao{
    font-family: 'Bitter', serif;
    color: #f0f7ff;
    font-size: larger;
    padding-top: 30px;
    padding-bottom: 10px;
}