@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

.RegSaudacao{
    font-family: 'Bitter', serif;
    color: #f0f7ff;
    font-size: 1.4vw;
    padding-top: 2.4vw;
    padding-bottom: 0.5vw;
}