.branco{
    background-color: #FFFFFF;
}

.azulClarin{
    background-color: #F0F7FF;
}

.azulRoxin{
    background-color: #9393ED;
}

.azul{
    background-color: #5F83AD;
}

.azulEscuro{
    background-color: #3F5268;
}

.azulMaisEscuro{
    background-color: #0B1024;
}

.Tbranco{
    color: #FFFFFF;
}

.TazulClarin{
    color: #F0F7FF;
}

.TazulRoxin{
    color: #9393ED;
}

.Tazul{
    color: #5F83AD;
}

.TazulEscuro{
    color: #3F5268;
}