.Menu{
    background-color: #5F83AD;
    display: flex;
    justify-content: space-between;
    height: 10%;
    padding: 1vw;
}
button{
    transition-duration: 0.5s;
    background-color: #5F83AD;
    border: solid black 1px;
    border-radius: 50px;
    color: black;
    width: 8vw;
    padding: 0.5vw;
    font-size: 1.5vw;
    font-family: Bitter;
    font-weight: 800;
}

.home-button{
    margin-left: 15vw;
}

.login-button{
    margin-right: 15vw;
}
button:hover{
    color: #3F5268;
    background-color: #F0F7FF;
}

@media(max-device-width: 480px){
    button{
        transition-duration: 0.5s;
        background-color: #5F83AD;
        border: solid black 1px;
        border-radius: 50px;
        color: black;
        width: 8vh;
        padding: 0.5vh;
        font-size: 1.5vh;
        font-family: Bitter;
        font-weight: 800;
    }
}
