@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

.Viajante{
    background-color: #9393ed;
    padding-left: 5vw;
    padding-right: 5vw;
}

.pNome{
    font-size: 1.8vw;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding-top: 2vw;
    margin-bottom: 2vw;
}

.pIntro{
    text-align: justify;
    line-height: 1.6;
    font-family: 'Bitter', serif;
    font-size: 1.2vw;
    text-indent: 5vw;
    padding-left: 6vw;
    padding-right: 6vw;
    margin-top: 2.5vw;
}

.viagens{
    font-size: 1.3vw;
    font-family: 'Bitter', serif;
    padding-bottom: 1.4vw;
}