.pNome{
    font-size: medium;
    text-align: center;
}

.divImgIntro{
    background-color: #c3c3e7;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    width: fit-content;
    height: min-content;
    margin: auto;
    margin-top: 20px;
    position: relative;
    max-width: 75%;
}

.pIntro{
    text-indent: 50px;
    text-align: justify;
    padding: 10px;
}

.backUser{
    height: 100vh;
    width: 100%;
    display: table;
    background-color: #9393ed;
}

.viagens{
    margin: auto;
    width: fit-content;
    height: fit-content;
    font-size: large;
    text-align: center;
    padding: 10px;
}